            <section id="section-features" class="row row-content" ng-controller="FeaturesController">
                <div class="col-xs-12" ng-if="showFeatures">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="text-uppercase text-center">{{title}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-primary btn-xs pull-right toggle-button" ng-click="toggleDetails()">{{showDetails ? 'Hide Details' : 'Show Details'}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 col-lg-3" ng-repeat="feature in data">
                                <div class="thumbnail">
                                    <img class="img-thumbnail" ng-src="{{feature.image}}" alt="{{feature.name}}">
                                    <div class="caption">
                                        <h4 class="text-uppercase">{{feature.name}}</h4>
                                        <p ng-show="showDetails">{{feature.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="!showFeatures">
                    <div class="alert alert-danger">
                         <h4>{{message}}</h4>
                    </div>
                </div>
            </section>
            

            <section id="section-platforms" class="row row-content" ng-controller="PlatformsController">
                <div class="col-xs-12" ng-if="showPlatforms">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="text-uppercase text-center">{{title}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-primary btn-xs pull-right toggle-button" ng-click="toggleDetails()">{{showDetails ? 'Hide Details' : 'Show Details'}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 col-lg-3" ng-repeat="platform in data">
                                 <div class="thumbnail">
                                    <i class="fa fa-4x platform-icon ng-class:platform.iconClass;" aria-hidden="true"></i>
                                    <div class="caption">
                                        <h4>{{platform.name}} <span class="badge">{{platform.availability}}</span></h4>
                                        <p ng-show="showDetails">{{platform.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="!showPlatforms">
                    <div class="alert alert-danger">
                         <h4>{{message}}</h4>
                    </div>
                </div>
            </section>
