        <footer id="section-footer" class="navbar navbar-default ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <ul class="list-unstyled">
                            <li ng-class="{active: stateis('app')}"><a ui-sref="app({scrollTo: 'section-header'})">Home</a></li>
                            <li ng-class="{active: stateis('company.aboutus')}"><a ui-sref="company.aboutus">About</a></li>
                            <li ng-class="{active: stateis('company.blogs')}"><a ui-sref="company.blogs">Blogs</a></li>
                            <li ng-class="{active: stateis('company.contactus')}"><a ui-sref="company.contactus">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-sm-offset-5">
                        <div class="nav navbar-nav">
                            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                            <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <p class="footer-copyright">Copyright © 2017 by Karya. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>