    <div class="ngdialog-message">
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <div class="alert alert-warning" ng-show="invalidCredentials">
                <strong>Warning!</strong> Invalid Credentials..
            </div>
            <form class="form-horizontal" role="form" name="loginForm" ng-submit="sendCredentials($event)" novalidate>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : loginForm.emailid.$invalid && !loginForm.emailid.$pristine }">
                    <label for="emailid" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email" ng-model="authenticationCredentials.emailid" required>
                        <span ng-show="loginForm.emailid.$invalid && !loginForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="(loginForm.emailid.$invalid || loginForm.emailid.$error.required) && !loginForm.emailid.$pristine" class="help-block">Enter your registered email address.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"  ng-model="authenticationCredentials.password" required>
                        <span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="(loginForm.password.$invalid || loginForm.password.$error.required) && !loginForm.password.$pristine" class="help-block">Enter your password.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>