                <!-- Modal content-->
                <div class="ngdialog-message">
                    <div>
                        <h4>Signup</h4>
                    </div>
                    <div>
                        <div class="alert alert-warning" ng-show="registeredEmailId">
                            <strong>Warning!</strong> The EmailId is already registered.
                        </div>
                        <form class="form-horizontal" role="form" name="signupForm" ng-submit="sendSignup($event)" novalidate>
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.firstname.$error.required && !signupForm.firstname.$pristine }">
                                <label for="firstname" class="col-sm-3 control-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name" ng-model="signupData.firstName" required>
                                    <span ng-show="signupForm.firstname.$error.required && !signupForm.firstname.$pristine" class="help-block">Your First name is required.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : signupForm.lastname.$error.required && !signupForm.lastname.$pristine }">
                                <label for="lastname" class="col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name" ng-model="signupData.lastName" required>
                                    <span ng-show="signupForm.lastname.$error.required && !signupForm.lastname.$pristine" class="help-block">Your Last name is required.</span>
                                </div>
                            </div>
                            <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.dateOfBirth.$error.required && !signupForm.dateOfBirth.$pristine }">
                                <label for="date" class="col-sm-3 control-label">Date of Birth</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="dateOfBirth" name="dateOfBirth" placeholder="Date" ng-model="signupData.dateOfBirth" required>
                                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                                    <span ng-show="signupForm.dateOfBirth.$error.required && !signupForm.dateOfBirth.$pristine" class="help-block">Your date of birth is required.</span>
                                </div>
                            </div>
                            <div class="form-group"  ng-class="{ 'has-error' : invalidGenderSelection }">
                                <label for="gender" class="col-sm-3 control-label">Gender</label>
                                <div class="col-sm-5">
                                    <select class="form-control" ng-model="signupData.gender" ng-options="gender.value as gender.label for gender in genders">
                                        <option value="">Gender?</option>
                                    </select>
                                    <span ng-show="invalidGenderSelection" class="help-block">Select an gender.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telnum" class="col-xs-12 col-sm-3 control-label">Contact Tel.</label>
                                <div class="col-xs-5 col-sm-4 col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">(</div>
                                        <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code" ng-model="signupData.tel.areaCode" required>
                                        <div class="input-group-addon">)</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 col-sm-5 col-md-6">
                                    <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number" ng-model="signupData.tel.number" required>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error has-feedback' : signupForm.emailid.$invalid && !signupForm.emailid.$pristine }">
                                <label for="emailid" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email" ng-model="signupData.emailId" required>
                                    <span ng-show="signupForm.emailid.$invalid && !signupForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                    <span ng-show="(signupForm.emailid.$invalid || signupForm.emailid.$error.required) && !signupForm.emailid.$pristine" class="help-block">Enter a valid email address.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error has-feedback' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="signupData.password" required>
                                    <span ng-show="signupForm.password.$error.required && !signupForm.password.$pristine" class="help-block">Password is required.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
