            <section id="section-user" class="row row-content">
                <div class="col-xs-12" ng-if="showList">
                    <div class="row">
                        <div class="col-xs-12">
                            <ol class="breadcrumb">
                                <li class="text-uppercase"><a ui-sref="user.lists">Lists</a></li>
                                <li class="text-uppercase active">{{listName}}</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <h2 class="text-uppercase text-center">{{listName}} List</h2>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                            <a ui-sref="user.list.addTask({parentListId: listId})" class="btn btn-primary header-action">Add Task</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 col-lg-3" ng-repeat="task in taskList">
                                <a ui-sref="user.task({id: task.id})">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="text-uppercase text-primary text-center">{{task.name}}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-3 text-center" data-toggle="tooltip" title="Priority: {{task.priority}}" ng-class="task.priority == 'high' ? 'text-primary' : 'text-muted'">
                                                <i class="fa" aria-hidden="true" ng-class="task.priority == 'high' ? 'fa-star' : 'fa-star-o'"></i>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 text-center" data-toggle="tooltip" title="Status: {{task.status}}" ng-class="task.status === 'COMPLETE' ? 'text-primary' : task.status === 'IN PROGRESS' ? 'text-primary' : 'text-muted'">
                                                <i class="fa" aria-hidden="true" ng-class="task.status === 'COMPLETE' ? 'fa-check-circle-o' : task.status === 'IN PROGRESS' ? 'fa-arrow-circle-right' : 'fa-circle-o'"></i>
                                            </div>
                                            <div class="col-xs-3 col-sm-2 text-center" data-toggle="tooltip" title="Over Due: {{task.isOverDue}}" ng-class="task.isOverDue ? 'text-danger' : 'text-muted'">
                                                <i class="fa" aria-hidden="true" ng-class="task.isOverDue ? 'fa-bell' : 'fa-bell-o'" ng-hide="task.status === 'COMPLETE'"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="!showList">
                    <div class="alert alert-danger">
                         <h4>{{message}}</h4>
                    </div>
                </div>
            </section>
            