            <section id="section-user" class="row row-content">
                <div class="col-xs-12" ng-if="showProfile">
                    <div class="row">
                        <div class="col-xs-12">
                            <ol class="breadcrumb">
                                <li class="text-uppercase">{{displayName}}</li>
                                <li class="text-uppercase"><a ui-sref="user.profile">Profile</a></li>
                                <li class="text-uppercase active">Edit Password</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="text-uppercase text-center">Update {{displayName}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12" >
                                <div class="alert alert-danger" ng-show="displayErrorMessage">
                                    {{errorMessage}}
                                </div>
                                <div class="alert alert-warning" ng-show="displayWarningMessage">
                                    {{warningMessage}}
                                </div>
                                <form class="form-horizontal" role="form" name="passwordForm" ng-submit="updatePassword()" novalidate>
                                    <fieldset>
                                        <div class="form-group" ng-class="{ 'has-error has-feedback' : passwordForm.currentPassword.$invalid && !passwordForm.currentPassword.$pristine }">
                                            <label for="currentPassword" class="col-sm-3 control-label">Current Password</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" ng-model="passwordData.currentPassword" required>
                                                <span ng-show="passwordForm.currentPassword.$error.required && !passwordForm.currentPassword.$pristine" class="help-block">Current Password is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error has-feedback' : passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine }">
                                            <label for="newPassword" class="col-sm-3 control-label">New Password</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" ng-model="passwordData.newPassword" required>
                                                <span ng-show="passwordForm.newPassword.$error.required && !passwordForm.newPassword.$pristine" class="help-block">New Password is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error has-feedback' : (passwordForm.confirmNewPassword.$invalid || invalidConfirmPassword )&& !passwordForm.confirmNewPassword.$pristine }">
                                            <label for="confirmNewPassword" class="col-sm-3 control-label">Confirm New Password</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password" ng-model="passwordData.confirmNewPassword" required>
                                                <span ng-show="passwordForm.confirmNewPassword.$error.required && !passwordForm.confirmNewPassword.$pristine" class="help-block">Confirmation of New Password is required.</span>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        <div class="col-xs-offset-2 col-xs-4 col-sm-offset-6 col-sm-2">
                                            <button type="submit" class="btn btn-block btn-primary" ng-disabled="passwordForm.$invalid">Update</button>
                                        </div>
                                        <div class="col-xs-4 col-sm-2">
                                            <a ui-sref="user.profile" class="btn btn-block btn-default">Cancel</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="!showProfile">
                    <div class="alert alert-danger">
                         <h4>{{message}}</h4>
                    </div>
                </div>
            </section>
            