            <section id="section-user" class="row row-content">
                <div class="col-xs-12" ng-if="showLists">
                    <div class="row">
                        <div class="col-xs-12">
                            <ol class="breadcrumb">
                                <li class="text-uppercase active">Lists</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <h2 class="text-uppercase text-center">Lists</h2>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                            <a ui-sref="user.lists.add" class="btn btn-block btn-primary header-action">Add List</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-6 col-lg-3" ng-repeat="userList in userLists">
                                <a ui-sref="user.list({id: userList.id})">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="text-uppercase text-primary text-center">{{userList.name}}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="text-info text-center">{{userList.subItemsCount}} Items</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12" ng-if="!showLists">
                    <div class="alert alert-danger">
                         <h4>{{message}}</h4>
                    </div>
                </div>
            </section>
            